.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .menu li a {
    text-decoration: none;
    margin: 0px 30px;
    color: #c9c9c9;
    letter-spacing: 0.5px;
    font-weight: 400;
    transition: all ease 0.3s;
  }
  
  .blog-link li a:hover,
  .menu li a:hover {
    color: #ffffff;
  }